/* Navbar.module.css */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.navbar {
  border-bottom: 4px solid #c90000;
  padding: 1rem 0;
}

.navbarBrand {
  display: flex;
  align-items: center;
}

.navbarLogo {
  width: 60px;
  height: 60px;
  transform: scale(1.4);
  transition: transform 0.3s ease;
}

.navbarLogo:hover {
  transform: scale(1.5);
}
.navbarBrand span {
  font-family: 'Jersey 10', sans-serif;
  font-size: 1.9rem;
}