.card {
  background-color: rgba(255, 255, 255, 0.063);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 90%;
  width: 400px;
}

.cardTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  -webkit-text-stroke: 0.2px #000000;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.cardText {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1.5;
  -webkit-text-stroke: 0.2px #000000;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.buttonDiv a {
  display: inline-block;
  background-color: #ff1900a2;
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}

.buttonDiv a:hover {
  background-color: hsla(6, 100%, 50%, 0.901);
}

.servicesContainer {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.serviceItem {
  margin-bottom: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.serviceContent {
  display: flex;
  align-items: center;
  padding: 20px;
}

.serviceImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 20px;
}

.serviceText {
  flex: 1;
}

.serviceTitle {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.serviceDescription {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .serviceItem.even .serviceContent {
    flex-direction: row;
  }

  .serviceItem.odd .serviceContent {
    flex-direction: row-reverse;
  }
}

@media (max-width: 767px) {
  .serviceContent {
    flex-direction: column;
    text-align: center;
  }

  .serviceImage {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
  }
}